
@font-face {
  font-family: 'JCBeta04-Bold';
  src: url('JCBeta04-Bold.eot?#iefix') format('embedded-opentype'),  url('JCBeta04-Bold.otf')  format('opentype'),
	     url('JCBeta04-Bold.woff') format('woff'), url('JCBeta04-Bold.ttf')  format('truetype'), url('JCBeta04-Bold.svg#JCBeta04-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
