@font-face {
  font-family: 'JCBeta04-Regular';
  src: url('fonts/JCBeta04-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/JCBeta04-Regular.otf')  format('opentype'),
       url('fonts/JCBeta04-Regular.woff') format('woff'), url('fonts/JCBeta04-Regular.ttf')  format('truetype'), url('fonts/JCBeta04-Regular.svg#JCBeta04-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JCBeta04-Bold';
  src: url('fonts/JCBeta04-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/JCBeta04-Bold.otf')  format('opentype'),
       url('fonts/JCBeta04-Bold.woff') format('woff'), url('fonts/JCBeta04-Bold.ttf')  format('truetype'), url('fonts/JCBeta04-Bold.svg#JCBeta04-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
