body {
  color: $base-font-color;
  background-color: $base-background-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 0.275em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $large-heading-font-size * 0.8;
  line-height: 1;
  margin-bottom: em(3px);

  @include breakpoint($medium-screen) {
    font-size: $large-heading-font-size;
    margin-bottom: em(1px);
  }
}

h2 {
  font-size: $heading-font-size * 0.8;
  line-height: 1;

  @include breakpoint($medium-screen) {
    font-size: $heading-font-size;
    line-height: 0.93;
  }
}

p, ul {
  margin: 0 0 $small-spacing;
  font-size: em(16px);
  @include breakpoint($medium-screen) {
    font-size: em(15px);
  }
}

a {
  font-size: 15px;
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
  font-family: $heading-font-family;
  font-weight: normal;
  font-size: em(15px);
}