.site-header
  +clearfix
  padding-top: em(20px)
  padding-bottom: em(15px)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9

  &.fixed
    background-color: rgba(41,41,41,0.97)

.site-branding
  position: relative
  float: left
  z-index: 99

+breakpoint($mobile-only)
  .site-branding
    display: none

  .fixed .site-branding
    display: block