.site-header
  +clearfix
  padding-top: em(20px)
  padding-bottom: em(20px)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9998
  &.fixed
    background-color: #000000

.site-branding
  float: left