section.brands
  +container
  padding-top: em(80px)
  padding-bottom: em(80px)

  +breakpoint($mobile-only)
    margin-top: -79px
    padding-top: 40px + $header-height

  .brand
    +gallery(6 of 12)
    margin-bottom: +gutters(12)

    +breakpoint($large-screen)
      +gallery(3 of 12)

    &:hover
      opacity: 0.75
    img
      display: block

  h2
    +breakpoint($mobile-only)
      padding-bottom: 5px
    border-bottom: 1px solid #FFFFFF
    padding-bottom: 7px
    margin-bottom: 30px
