.profile
  text-align: center

  +breakpoint($mobile-only)
    padding-top: em(20px)
    padding-bottom: em(20px)

  p
    max-width: em(630px)
    display: block
    margin-left: auto
    margin-right: auto

  strong
    text-transform: uppercase