.single-brands
  .entry-header
    background-image: url('img/intro.jpg')
    background-size: cover
    background-repeat: no-repeat
    position: relative

    h1
      text-align: center
      font-size: em(57px)
      text-transform: uppercase

    .brand-intro
      position: absolute
      bottom: em(40px)
      max-width: 35%