.single-brands

  .entry-header
    background-image: url('img/intro.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    position: relative

    h1
      font-size: $huge-heading-font-size * 0.5
      text-transform: uppercase

      +breakpoint($medium-screen)
        font-size: $huge-heading-font-size
        text-align: center

    .brand-intro
      display: inline-block
      margin-bottom: em(20px)

      +breakpoint($medium-screen)
        position: absolute
        bottom: em(40px)
        max-width: 35%

.single-brand-content
  +container
  padding-top: em(40px)

  .brand-text
    +span(full)
    margin-bottom: em(20px)

    +breakpoint($medium-screen)
      +span(7 of 12)

    +breakpoint($huge-screen)
      +span(5 of 12)

  .image-container
    +span(full)
    margin-bottom: gutter(6)

    .image-column, .image-full-width
      +span(full)

      img
        width: 100%

    +breakpoint($medium-screen)
      .image-column
        +span(6 of 12 0.75)
        margin-bottom: gutter(6)

        &:nth-child(2n+2)
          +span(6 of 12 0.75 last)